body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    font-weight: 400;
    font-size: 16px;
    color: #333;
    margin: 0;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #1ED7FC;
    text-decoration: none;
}

code {
    font-family: 'Source Code Pro', monospace;
}

@media (max-width: 768px) {
    .ipb-container {
        border-top: 10px solid #1ED7FC;
        padding: 10px 5px;
    }

    .ipb-lede-text {
        font-family: 'Source Code Pro', monospace;
        font-weight: 200;
        font-size: 30px;
        text-align: center;
    }
}

@media (min-width: 769px) {
    .ipb-container {
        border-top: 10px solid #1ED7FC;
        padding: 10px 50px;
    }

    .ipb-lede-text {
        font-family: 'Source Code Pro', monospace;
        font-weight: 200;
        font-size: 40px;
        text-align: center;
    }
}

.ipb-navbar {
    width: 100%;
    text-align: center;
}

.ipb-nav-item {
    display: inline-block;
    width: 25%;
    text-align: center;
}

.ipb-nav-link {
    font-weight: 200;
    font-size: 20px;
    color: inherit;
    text-decoration: none;
}

.ipb-nav-link:hover,
.ipb-nav-link:focus {
    color: #1ED7FC;
}

.ipb-grid {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

table.blockgrid {
    margin: 0 auto;
    border-spacing: 0;
    border-collapse: collapse;
}

.ipb-codeblock {
    font-family: 'Source Code Pro', monospace;
    border-radius: 10px;
    border: 1px solid #f5f5f5;
    padding: 0 20px;
    margin-bottom: 10px;
    background: #f5f5f5;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
}

.ipb-main-sections {
    text-align: center;
}

.ipb-main-section-header {
    font-weight: 200;
    font-size: 25px;
}

.ipb-main-section-text {
    text-align: justify;
    padding: 0 10px;
}

.ipb-about-section {
    border: 1px solid #1abc9c;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}

.ipb-about-header {
    font-weight: bold;
    font-size: 20px;
    margin-top: 0;
}

.ipb-about-text {
    margin-left: 10px;
}
