body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #333;
    margin: 0;
}

@media (max-width: 768px) {
    .ipb-container {
        border-top: 10px solid #1ED7FC;
        padding: 10px 5px;
    }
}

@media (min-width: 769px) {
    .ipb-container {
        border-top: 10px solid #1ED7FC;
        padding: 10px 50px;
    }
}

.ipb-navbar {
    width: 100%;
    text-align: center;
}

.ipb-nav-item {
    display: inline-block;
    width: 25%;
    text-align: center;
}

.ipb-nav-link {
    font-weight: 200;
    font-size: 20px;
    color: inherit;
    text-decoration: none;
}

.ipb-nav-link:hover,
.ipb-nav-link:focus {
    color: #1ED7FC;
}

.ipb-grid {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}

table.blockgrid {
    margin: 0 auto;
    border-spacing: 0;
    border-collapse: collapse;
}

.ipb-codeblock {
    font-family: 'Source Code Pro', monospace;
    border-radius: 20px;
    border: 1px solid #f8f8f8;
    padding: 0 20px;
    background: #f8f8f8;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
}
