/*

    Name:       Base16 Chalk Light
    Author:     Chris Kempson (http://chriskempson.com)

    Pygments template by Jan T. Sott (https://github.com/idleberg)
    Created with Base16 Builder by Chris Kempson (https://github.com/chriskempson/base16-builder)

*/
.ipb-code .hll { background-color: #e0e0e0 }
.ipb-code  { background: #f5f5f5; color: #151515 }
.ipb-code .c { color: #b0b0b0 } /* Comment */
.ipb-code .err { color: #fb9fb1 } /* Error */
.ipb-code .k { color: #e1a3ee } /* Keyword */
.ipb-code .l { color: #eda987 } /* Literal */
.ipb-code .n { color: #151515 } /* Name */
.ipb-code .o { color: #12cfc0 } /* Operator */
.ipb-code .p { color: #151515 } /* Punctuation */
.ipb-code .cm { color: #b0b0b0 } /* Comment.Multiline */
.ipb-code .cp { color: #b0b0b0 } /* Comment.Preproc */
.ipb-code .c1 { color: #b0b0b0 } /* Comment.Single */
.ipb-code .cs { color: #b0b0b0 } /* Comment.Special */
.ipb-code .gd { color: #fb9fb1 } /* Generic.Deleted */
.ipb-code .ge { font-style: italic } /* Generic.Emph */
.ipb-code .gh { color: #151515; font-weight: bold } /* Generic.Heading */
.ipb-code .gi { color: #acc267 } /* Generic.Inserted */
.ipb-code .gp { color: #b0b0b0; font-weight: bold } /* Generic.Prompt */
.ipb-code .gs { font-weight: bold } /* Generic.Strong */
.ipb-code .gu { color: #12cfc0; font-weight: bold } /* Generic.Subheading */
.ipb-code .kc { color: #e1a3ee } /* Keyword.Constant */
.ipb-code .kd { color: #e1a3ee } /* Keyword.Declaration */
.ipb-code .kn { color: #12cfc0 } /* Keyword.Namespace */
.ipb-code .kp { color: #e1a3ee } /* Keyword.Pseudo */
.ipb-code .kr { color: #e1a3ee } /* Keyword.Reserved */
.ipb-code .kt { color: #ddb26f } /* Keyword.Type */
.ipb-code .ld { color: #acc267 } /* Literal.Date */
.ipb-code .m { color: #eda987 } /* Literal.Number */
.ipb-code .s { color: #acc267 } /* Literal.String */
.ipb-code .na { color: #6fc2ef } /* Name.Attribute */
.ipb-code .nb { color: #151515 } /* Name.Builtin */
.ipb-code .nc { color: #ddb26f } /* Name.Class */
.ipb-code .no { color: #fb9fb1 } /* Name.Constant */
.ipb-code .nd { color: #12cfc0 } /* Name.Decorator */
.ipb-code .ni { color: #151515 } /* Name.Entity */
.ipb-code .ne { color: #fb9fb1 } /* Name.Exception */
.ipb-code .nf { color: #6fc2ef } /* Name.Function */
.ipb-code .nl { color: #151515 } /* Name.Label */
.ipb-code .nn { color: #ddb26f } /* Name.Namespace */
.ipb-code .nx { color: #6fc2ef } /* Name.Other */
.ipb-code .py { color: #151515 } /* Name.Property */
.ipb-code .nt { color: #12cfc0 } /* Name.Tag */
.ipb-code .nv { color: #fb9fb1 } /* Name.Variable */
.ipb-code .ow { color: #12cfc0 } /* Operator.Word */
.ipb-code .w { color: #151515 } /* Text.Whitespace */
.ipb-code .mf { color: #eda987 } /* Literal.Number.Float */
.ipb-code .mh { color: #eda987 } /* Literal.Number.Hex */
.ipb-code .mi { color: #eda987 } /* Literal.Number.Integer */
.ipb-code .mo { color: #eda987 } /* Literal.Number.Oct */
.ipb-code .sb { color: #acc267 } /* Literal.String.Backtick */
.ipb-code .sc { color: #151515 } /* Literal.String.Char */
.ipb-code .sd { color: #b0b0b0 } /* Literal.String.Doc */
.ipb-code .s2 { color: #acc267 } /* Literal.String.Double */
.ipb-code .se { color: #eda987 } /* Literal.String.Escape */
.ipb-code .sh { color: #acc267 } /* Literal.String.Heredoc */
.ipb-code .si { color: #eda987 } /* Literal.String.Interpol */
.ipb-code .sx { color: #acc267 } /* Literal.String.Other */
.ipb-code .sr { color: #acc267 } /* Literal.String.Regex */
.ipb-code .s1 { color: #acc267 } /* Literal.String.Single */
.ipb-code .ss { color: #acc267 } /* Literal.String.Symbol */
.ipb-code .bp { color: #151515 } /* Name.Builtin.Pseudo */
.ipb-code .vc { color: #fb9fb1 } /* Name.Variable.Class */
.ipb-code .vg { color: #fb9fb1 } /* Name.Variable.Global */
.ipb-code .vi { color: #fb9fb1 } /* Name.Variable.Instance */
.ipb-code .il { color: #eda987 } /* Literal.Number.Integer.Long */
